-e git+git@github.com:eugeneai/rdflib-kyotocabinet.git#egg=rdflib-kyotocainet
-e git+git@github.com:isu-enterprise/icc.cellula.git#egg=icc.cellula
-e git+git@github.com:isu-enterprise/icc.rdfservice.git#egg=icc.rdfservice
-e git+git@github.com:isu-enterprise/icc.restfuldocs.git#egg=icc.restfuldocs
-e git+git@github.com:isu-enterprise/icc.contentstorage.git#egg=icc.contentstorage
-e git+git@github.com:eugeneai/pengines.git#egg=pengines
-r elpy.txt
